

<!-- EJECUTAR ESTE ARCHIVO PARA EL ENVÍO DE NUEVOS LEADS AL CRM -->

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
    // CAPTURA DE DATOS DE LOS LEADS
    leads = [
         {
             nombre : "Juan ejemplo" , 
             telefono : "1321313" , 
             email : "sair@arrday.comm",
             origen: "origen ejemplo"
         },
         {
             nombre : "David ejemplo" , 
             telefono : "31479544410" , 
             email : "angelica@gmail.com", 
             origen: "origen ejemplo"
         }
    ];



    //EN ESTA PARTE SE EMPAQUETAN LOS DATOS, PARA SU POSTERIOR ENVIO  A TRAVÉS DE POST
        formdata = new FormData();
        //definimos la variable POST "leads" y asignamos  el valor (en este caso el array de leads)
        /*===>>>>>*/formdata.append("leads" , JSON.stringify(leads));
        
        // definimos la ruta del archivo controlador que recibirá los leads
        // esta url es local ... se debe cambiar cuando los lead se envien desde un sitio web externo

        let url_contrlador = "http://localhost/CRM90/crm-spain/Controllers/php/ctrlLeads.php";
        
        
        // mediante axios enviamos 
        axios.post( url_contrlador, formdata)
         .then(function(response){
             //ESTA ES LA RESPUESTA QUE NOS DA EL ARCHIVO PHP AL QUE SE LE ENVIO LOS LEADS
             let sair = response.data;
                console.log(response);
                if(sair.respuesta == "NO_SE_ENCONTRARON_LEADS"){
                    document.getElementById('alerts').innerHTML='NO SE ENCONTRARON LEADS';
                }else if(sair.respuesta == "LEADS_PROCESADOS"){
                    document.getElementById('alerts')
                    .innerHTML='LEADS PROCESADOS'+"<br>";
                    document.getElementById('leads_procesados')
                    .innerHTML='LEADS REGISTRADOS: '+ sair.numero_leads_registrados+"<br>"+
                    "LEADS NO REGISTRADOS: "+ sair.numero_leads_no_registrados+"<br>LEADS NO ASOCIADOS: "+
                    sair.numero_leads_no_asociados;
                }

        });

</script>


<div id="alerts"></div>
<div id="leads_procesados"></div>
<div id="leads_no_registrados"></div>




